<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form action="/helloapp/login" method="post">
            <%if(request.getAttribute("error") != null) {%>
                <h1>Login or password wrong</h1>
            <%}%>

            <input type="text" name="login" />
            <input type="password" name="password" />
            <button type="submit">
                Login
            </button>
        </form>
    </body>
</html>